Package: com.abdulilah.yallalite
Name: عبدالإله
Version: 1.0
Architecture: iphoneos-arm
Description: عبدالإله - أدوات متكاملة لـ YallaLite مع تتبع ودمج الحسابات
Maintainer: عبدالإله
Author: عبدالإله
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 7.0)
